@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* General */
body {
    background-color: rgb(178, 224, 239);
}

.hidden {
    display: none;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
    color: black;
    background-color: rgb(178, 224, 239);
}

.header h1 {
    font-size: 45px;
    margin: 0;
    text-align: center;
}

.navigation {
    background-color: whitesmoke;
    box-shadow: 0 0 20px 0 black;
}

#logo {
    font-family: 'Source Code Pro', sans-serif;
    margin-left: 10px;
    padding: 10px;
    margin-bottom: 0;
}

.logo-highlight-one {
    color: #5e17eb;
}


.logo-highlight-two {
    background-color: #5e17eb;
    color:whitesmoke;
    border-radius: 5px;
    padding: 0 5px;
}

.navbar-toggler {
    border: 0;
    background-color: #5e17eb;
    margin-right: 20px;
}

.fa-bars {
    color: whitesmoke;
    font-size: 140%;
}
/* sign up page */



/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding-top:20px;
}

footer i {
   color: rgb(178, 224, 239);
   font-size: 130%; 
}

.copyright {
    color: white;
}

/* Media Query */
@media screen and (max-width: 576px) {
    .logo-sm {
        display: inline-block;
        margin-left: 10px;
        padding: 10px;
        margin-bottom: 0;
    }

    #logo {
        display: none;
    }

}

@media screen and (max-width: 767px) {
    .nav {
        justify-content: center;
        border: outset rgb(41, 82, 36);
    }

    .nav-item {
        border: none;
    }
}

@media screen and (min-width: 1024px) {
    .header h1 {
        font-size: 65px;
    }
    
}