{% extends "base.html" %}
{% block content %}

<div class="container" style="padding: 20px; border-radius: 9px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <h2 style="color: #5e17eb; text-align: center; margin-bottom: 20px;">Create New Project</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_title" class="form-label" style="color: #5e17eb; font-weight: bold;">Project Title</label>
            {{ form.title }}
        </div>
        <div class="mb-3">
            <label for="id_summary" class="form-label" style="color: #5e17eb; font-weight: bold;">Project Summary</label>
            {{ form.summary }}
        </div>
        <div class="mb-3">
            <label for="id_collaborators" class="form-label" style="color: #5e17eb; font-weight: bold;">Collaborators</label>
            {{ form.collaborators }}
        </div>
        <div class="mb-3">
            <label for="id_deployed_site" class="form-label" style="color: #5e17eb; font-weight: bold;">Deployed Site</label>
            {{ form.deployed_site }}
        </div>
        <div class="mb-3">
            <label for="id_github_repo" class="form-label" style="color: #5e17eb; font-weight: bold;">GitHub Repo</label>
            {{ form.github_repo }}
        </div>
        <div class="mb-3">
            <label for="id_reflections" class="form-label" style="color: #5e17eb; font-weight: bold;">Reflections</label>
            {{ form.reflections }}
        </div>
        <div class="mb-3">
            {{form.approved}} <label for="id_approved" class="form-check-label" style="color: #5e17eb; font-weight: bold;">Approved</label>
        </div>
        <div class="form-check">
            {{ form.favourite }} <label for="id_favourite" class="form-check-label" style="color: #5e17eb; font-weight: bold;">Favourite</label>
        </div>
        <button type="submit" class="btn btn-primary mt-3" style="background-color: #5e17eb; border: none; padding: 10px 20px; font-size: 15px; cursor: pointer; border-radius: 4px; width: 100%;">Submit</button>
    </form>
</div>
{% endblock %}