/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
    color: black;
    background-color: lightblue;
}

.header h1 {
    font-size: 45px;
    margin: 0;
    text-align: center;
}

.logo-highlight {
    color: #5e17eb;
}

.signup-box {
    background-color: rgb(178, 224, 239);
    border: 1px solid #5e17eb;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
}

/* home styling */
.hero-text {
    background-color: rgb(178, 224, 239);
    border-radius: 15px;
    margin: -15px auto 50px;
    max-width: 80%;
    padding: 5rem;
    text-align: center;
}

/* Footer */
footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    font-size: 20px;
    margin: 0;
}

.copyright {
    color: white;
}

/* Media Query */
@media screen and (max-width: 767px) {
    .nav {
        justify-content: center;
        border: outset rgb(41, 82, 36);
    }

    .nav-item {
        border: none;
    }
}

@media screen and (min-width: 1024px) {
    .header h1 {
        font-size: 65px;
    }
    
}