@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* General */
body {
    background-color: rgb(178, 224, 239);
    font-family:'Exo', sans-serif;
}

.hidden {
    display: none;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
    color: black;
    background-color: rgb(178, 224, 239);
}

.header h1 {
    font-size: 45px;
    margin: 0;
    text-align: center;
}

.navigation {
    background-color: whitesmoke;
    box-shadow: 0 0 20px 0 black;
}

#logo {
    font-family: 'Source Code Pro', sans-serif;
    margin-left: 10px;
    padding: 10px;
    margin-bottom: 0;
}

.logo-highlight-one {
    color: #5e17eb;
}


.logo-highlight-two {
    background-color: #5e17eb;
    color:whitesmoke;
    border-radius: 5px;
    padding: 0 5px;
}

.navbar-toggler {
    border: 0;
    background-color: #5e17eb;
    margin-right: 20px;
}

.nav-link {
    font-size: 120%;
    color: #8f60ed;
    border: 2px solid whitesmoke;
    margin-right: 5px;
}

.nav-link:hover {
    color: #5e17eb;
    border: 2px solid #5e17eb;
    border-radius: 5px;
}

.is_active {
    font-size: 120%;
    font-weight: bold;
    color: #5e17eb;
}

.fa-bars {
    color: whitesmoke;
    font-size: 140%;
}
/* sign up page */

/* Dashboard */

/* /* #dashboard-section-one,
#dashboard-section-two, */
#dashboard-section-three {
    background-color: rgb(243, 230, 119);
    border-radius: 15px;
    border: 4px solid black; 
    padding: 10px;
}

#profile-image {
    margin-top: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#profile-image img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    
}

#profile-username {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#toolsbar-container button {
    border-radius: 50%;
    border: 2px solid #5e17eb;
    color: #5e17eb;
}

#toolsbar-container button:hover {
    background-color: #5e17eb;
    color: whitesmoke;
}

#expand-toggle input {
    height: 30px;
    width: 50px;
}

#expand-toggle input::after {
    background-color: #5e17eb;
}

.form-check-input:checked{
    background-color:#5e17eb;
    border-color: #5e17eb;
}

.project-info a {
    padding-top: 30px;
}

.project-info i {
    font-size: 50px;
    padding: 5px;
}

.project-info img {
    object-fit: cover;
    width: 140px;
    height: 100px;
    padding: 10px;
}

.fa-github {
    color: black;
}

.fa-github:hover {
    color: black;
}

.fa-computer-mouse{
    color: #5e17eb;
}

.fa-star {
    font-size: 25px;
    color: #5e17eb;
}

#emojis-container {
    font-size: 50px;
    color: #5e17eb;
}

#emojis-container i{
    padding: 10px;
}

#emojis-container i:hover{
    color: whitesmoke;
    background-color: #5e17eb;
    border-radius:50%;
}

/* Projects page */
svg#freepik_stories-code-typing:not(.animated) .animable {opacity: 0;}
svg#freepik_stories-code-typing.animated #freepik--speech-bubbles--inject-6 {animation: 1.5s Infinite  linear floating;animation-delay: 0s;}            
@keyframes floating {                
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }                
    100% {                    
        opacity: 1;                    
        transform: translateY(0px);                
    }            
}

/* home styling */
.hero-text {
    background-color: rgb(178, 224, 239);
    border-radius: 15px;
    margin: -15px auto 50px;
    max-width: 80%;
    padding: 5rem;
    text-align: center;
}

/* Footer */
#footer-spacer {
    height: 101px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding-top:10px;
    color: rgb(178, 224, 239);
}

footer a {
color: rgb(178, 224, 239);
   font-size: 150%; 
   margin: 10px;
}

footer a:hover {
    color: #5e17eb;
}

/* Media Query */
@media screen and (max-width: 576px) {
    .logo-sm {
        display: inline-block;
        margin-left: 10px;
        padding: 10px;
        margin-bottom: 0;
    }

    #logo {
        display: none;
    }

    /* Dashboard */
    profile-container,
    toolsbar-container {
        width:50%;
    }

}

@media screen and (max-width: 767px) {
    .nav {
        justify-content: center;
        border: outset rgb(41, 82, 36);
    }

    .nav-item {
        border: none;
    }
}

@media screen and (min-width: 1024px) {
    .header h1 {
        font-size: 65px;
    }
    
}